@{
    ViewBag.Title = "Paket";
}

<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Form Stuff</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Form Controls</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                Actions <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">Action</a>
                </li>
                <li>
                    <a href="#">Another action</a>
                </li>
                <li>
                    <a href="#">Something else here</a>
                </li>
                <li class="divider">
                </li>
                <li>
                    <a href="#">Separated link</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN FORM PORTLET-->
        <div class="portlet box green ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-plus"></i> Tambah Paket
                </div>
                <div class="tools">
                    <a href="" class="collapse">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" role="form">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Kode</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Kode" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Pemeriksaan</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Pemeriksaan">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Harga</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Harga">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Bea Pasien</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Bea Pasien">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Bea Rekanan</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Bea Rekanan">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Penunjang</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Penunjang">
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-9">
                                <button type="submit" class="btn btn-circle green bold"><i class="fa fa-check"></i> Simpan</button>
                                <button type="button" class="btn btn-circle red bold"><i class="fa fa-times"></i> Batal</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END FORM PORTLET-->
        <!-- BEGIN FORM PORTLET-->
        <div class="portlet box yellow ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-pencil"></i> Edit Paket
                </div>
                <div class="tools">
                    <a href="" class="collapse">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" role="form">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Kode</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Kode" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Pemeriksaan</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Pemeriksaan">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Harga</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Harga">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Bea Pasien</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Bea Pasien">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Bea Rekanan</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Bea Rekanan">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Penunjang</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Penunjang">
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-9">
                                <button type="submit" class="btn btn-circle green bold"><i class="fa fa-check"></i> Simpan</button>
                                <button type="button" class="btn btn-circle red bold"><i class="fa fa-times"></i> Batal</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END FORM PORTLET-->
        <!-- BEGIN FORM PORTLET-->
        <div class="portlet box blue ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-align-left"></i> Detail Tarif Medis
                </div>
                <div class="tools">
                    <a href="" class="collapse">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" role="form">
                    <div class="form-body">

                    </div>
                    <div class="form-actions">
                        <div class="row">

                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END  FORM PORTLET-->
    </div>
</div>
<!-- END PAGE CONTENT-->
@section Scripts {
    <script>
        $(function() {
            //Metronic.init(); // init metronic core components
            //Layout.init(); // init current layout
            ComponentsPickers.init();
            ComponentsDropdowns.init();
        });
    </script>
}