<!-- Content Form Auth-->
<div id="staticCamera" class="modal fade container" tabindex="-1" data-backdrop="static" data-keyboard="true">
    <div class="modal-content-camera">
    </div>
</div>
<!-- End Content Form Auth-->
@Scripts.Render("~/Scripts/pageCamera.js")